.elementor-294 .elementor-element.elementor-element-2a0a8d01{
  padding:164px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-2b47c29c > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-2b47c29c > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-73cf12d > .elementor-container{
  max-width:920px;
}
.elementor-294 .elementor-element.elementor-element-852d2f5 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-b16d939 .fn__maintitle{
  color:#fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 90px;
  font-weight: 400;
}

.elementor-294 .elementor-element.elementor-element-b16d939 .fn__maintitle{
  color:#fff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 90px;
  font-weight: 400;
}
.partners_section{
  padding: 100px 0;
}

.partners_section h3{
  margin-bottom: 50px;
}


.elementor-294 .elementor-element.elementor-element-b16d939 > .elementor-widget-container{
  margin:0px 0px 31px 0px;
}
.elementor-294 .elementor-element.elementor-element-3704b78{
  text-align:center;
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:24px;
  font-weight:400;
  line-height:34px;
}
.elementor-294 .elementor-element.elementor-element-3704b78 > .elementor-widget-container{
  margin:0px 0px 41px 0px;
}
.elementor-294 .elementor-element.elementor-element-48807a99 .img_item:after{
  background-color:#353535;
}
.elementor-294 .elementor-element.elementor-element-48807a99 > .elementor-widget-container{
  margin:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-1936c348 > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-1936c348 > .elementor-background-overlay{
  background-color:#000000;
  opacity:0.15;
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-294 .elementor-element.elementor-element-1936c348{
  border-style:solid;
  border-width:1px 0px 1px 0px;
  border-color:#FFFFFF14;
  box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:132px 100px 87px 100px;
}
.elementor-294 .elementor-element.elementor-element-67c82b60 h3{
  color:#000;
}
.elementor-294 .elementor-element.elementor-element-67c82b60 p{
  color:#9BA0B8;
}
.elementor-294 .elementor-element.elementor-element-67c82b60 .item{
  border-color:rgba(0,0,0,.1);
}
.elementor-294 .elementor-element.elementor-element-1d97e132{
  padding:150px 0px 150px 0px;
}
.elementor-bc-flex-widget .elementor-294 .elementor-element.elementor-element-a87d1a4.elementor-column .elementor-widget-wrap{
  align-items:center;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{
  align-content:center;
  align-items:center;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4.elementor-column > .elementor-widget-wrap{
  justify-content:flex-end;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer{
  background-image:url("../../../assets/img/bg4.png");
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-element-populated > .elementor-background-overlay{
  background-color:#000000;
  opacity:0.7;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-element-populated{
  box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-element-populated > .elementor-background-overlay{
  transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-294 .elementor-element.elementor-element-7b508a7b .img_item:after{
  background-color:#353535;
}
.elementor-294 .elementor-element.elementor-element-7b508a7b > .elementor-widget-container{
  padding:20px 20px 20px 20px;
  --e-transform-translateX:130px;
  background-color:#FFFFFF0D;
  border-style:solid;
  border-width:1px 1px 1px 1px;
  border-color:#FFFFFF80;
  border-radius:20px 20px 20px 20px;
}
.elementor-294 .elementor-element.elementor-element-7b508a7b{
  width:var( --container-widget-width, 562px );
  max-width:562px;
  --container-widget-width:562px;
  --container-widget-flex-grow:0;
  z-index:1;
}
.elementor-294 .elementor-element.elementor-element-7b4e7f30 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-7b4e7f30 > .elementor-element-populated{
  padding:110px 100px 110px 230px;
}
.elementor-294 .elementor-element.elementor-element-72c84b00 .fn__maintitle{
  color:#fff;
  font-size: 36px;
}
.elementor-294 .elementor-element.elementor-element-72c84b00 > .elementor-widget-container{
  margin:0px 0px 15px 0px;
}
.elementor-294 .elementor-element.elementor-element-675f1e0b > .elementor-widget-container{
  margin:0px 0px 25px 0px;
}
.elementor-294 .elementor-element.elementor-element-5ffbcd62{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-5ffbcd62 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-727d1e54{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-727d1e54 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-2365d300{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-2365d300 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-59352679{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-59352679 > .elementor-widget-container{
  margin:0px 0px 32px 0px;
}
.elementor-294 .elementor-element.elementor-element-23d9a1d3 > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-23d9a1d3{
  padding:0px 100px 140px 100px;
}

.elementor-294 .elementor-element.elementor-element-1bf65469 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;

}
.elementor-294 .elementor-element.elementor-element-1bf65469 > .elementor-element-populated{
  padding:0px 100px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-5656b75b .fn__maintitle{
  color:#fff;
  font-size: 36px;
}
.elementor-294 .elementor-element.elementor-element-5656b75b > .elementor-widget-container{
  margin:0px 0px 15px 0px;
}
.elementor-294 .elementor-element.elementor-element-5ec00def > .elementor-widget-container{
  margin:0px 0px 25px 0px;
}
.elementor-294 .elementor-element.elementor-element-2b6d8ad2{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-2b6d8ad2 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-3c9f3f6a{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-3c9f3f6a > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-6615e1a0{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-6615e1a0 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-153b8ecd{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-153b8ecd > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-53976339 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-3e50246e > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
body:not(.rtl) .elementor-294 .elementor-element.elementor-element-686a6ed8{
  left:0px;
}
body.rtl .elementor-294 .elementor-element.elementor-element-686a6ed8{
  right:0px;
}
.elementor-294 .elementor-element.elementor-element-686a6ed8{
  top:50%;
}
.elementor-294 .elementor-element.elementor-element-3d1a27d9 img{
  border-radius:15px 15px 15px 15px;
  box-shadow:0px 5px 20px 0px rgba(0, 0, 0, 0.25);
}
.elementor-294 .elementor-element.elementor-element-19e7a749 > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-410d75d5 > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-410d75d5{
  padding:134px 100px 130px 100px;
}
.elementor-294 .elementor-element.elementor-element-2b139a3f > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-c478277 .fn__maintitle{
  color:#fff;
  font-size: 90px;
  font-weight: 400;
}
.elementor-294 .elementor-element.elementor-element-c478277 > .elementor-widget-container{
  margin:0px 0px 140px 0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_collage ul li .item{
  border-radius:0px;
  overflow:hidden;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_collage_a .item{
  border-radius:0px;
  overflow:hidden;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_collage_pro ul li .item{
  border-radius:0px;
  overflow:hidden;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .justified-gallery>a{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_masonry ul li .item{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_slider .item{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_grid ul li .item_in{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_mosaic_four .item_in{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_mosaic .item{
  border-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc .fn_cs_gallery_grid ul li .item:after{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}
.elementor-294 .elementor-element.elementor-element-4a188efc > .elementor-widget-container{
  margin:0px 0px 92px 0px;
}
.elementor-294 .elementor-element.elementor-element-2d24d66c > .elementor-container{
  max-width:920px;
}
.elementor-294 .elementor-element.elementor-element-109786ad > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-1e5e281{
  text-align:center;
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:24px;
  font-weight:400;
  line-height:34px;
}
.elementor-294 .elementor-element.elementor-element-1e5e281 > .elementor-widget-container{
  margin:0px 0px 41px 0px;
}
.elementor-294 .elementor-element.elementor-element-17b88323 > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-5d14949e > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-5d14949e{
  padding:134px 100px 120px 100px;
  background-image: url('../../../assets/img/bg4.png');
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.elementor-294 .elementor-element.elementor-element-1eb00c16 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-232d67c5 .fn__maintitle{
  color:#fff;
  font-size: 90px;
  font-weight: 400;
}
.elementor-294 .elementor-element.elementor-element-232d67c5 > .elementor-widget-container{
  margin:0px 0px 140px 0px;
}
.elementor-294 .elementor-element.elementor-element-383de8c0 > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-1b037eb8 > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-1897b081 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-494ad154 .fn__maintitle{
  color:#fff;
}
.blog_section{

  padding:100px 100px 120px 100px;
}


.elementor-294 .elementor-element.elementor-element-494ad154 > .elementor-widget-container{
  margin:0px 0px 140px 0px;
}
.elementor-294 .elementor-element.elementor-element-cd56772 .fn_light_mode .title_holder h3 a{
  color:#041230;
}
.elementor-294 .elementor-element.elementor-element-599ecc1f > .elementor-element-populated{
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-41efd063 > .elementor-container{
  max-width:1800px;
}
.elementor-294 .elementor-element.elementor-element-41efd063{
  padding:134px 100px 100px 100px;
}
.elementor-294 .elementor-element.elementor-element-b0a0090 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-1992d958 .fn__maintitle{
  color:#fff;
}
.elementor-294 .elementor-element.elementor-element-1992d958 > .elementor-widget-container{
  margin:0px 0px 130px 0px;
}
.elementor-294 .elementor-element.elementor-element-588a9ea9{
  margin-top:0px;
  margin-bottom:72px;
  padding:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-3a529e28 > .elementor-element-populated{
  padding:10px 50px 10px 0px;
}
.elementor-294 .elementor-element.elementor-element-103bd173{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-103bd173 > .elementor-widget-container{
  margin:0px 0px 27px 0px;
}
.elementor-294 .elementor-element.elementor-element-11b67914{
  color:#9BA0B8;
  font-family:"Nunito", Sans-serif;
  font-size:18px;
  font-weight:400;
  line-height:1.44em;
}
.elementor-294 .elementor-element.elementor-element-11b67914 > .elementor-widget-container{
  margin:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-22322191 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-22322191 > .elementor-element-populated{
  padding:10px 50px 10px 50px;
}
.elementor-294 .elementor-element.elementor-element-bb5a17d .elementor-heading-title{
  color:#9BA0B8;
  font-family:"Heebo", Sans-serif;
  font-size:16px;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:0.5px;
}
.elementor-294 .elementor-element.elementor-element-bb5a17d > .elementor-widget-container{
  margin:0px 0px 9px 0px;
}
.elementor-294 .elementor-element.elementor-element-41ebf67c .elementor-heading-title{
  color:#FFFFFF;
  font-family:"Heebo", Sans-serif;
  font-size:30px;
  font-weight:300;
  letter-spacing:0px;
}
.elementor-294 .elementor-element.elementor-element-41ebf67c > .elementor-widget-container{
  margin:0px 0px 39px 0px;
}
.elementor-294 .elementor-element.elementor-element-7c991d77 .elementor-heading-title{
  color:#9BA0B8;
  font-family:"Heebo", Sans-serif;
  font-size:16px;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:0.5px;
}
.elementor-294 .elementor-element.elementor-element-7c991d77 > .elementor-widget-container{
  margin:0px 0px 9px 0px;
}
.elementor-294 .elementor-element.elementor-element-539e9997 .elementor-heading-title{
  color:#FFFFFF;
  font-family:"Heebo", Sans-serif;
  font-size:30px;
  font-weight:300;
  letter-spacing:0px;
}
.elementor-294 .elementor-element.elementor-element-539e9997 > .elementor-widget-container{
  margin:0px 0px 0px 0px;
}
.elementor-294 .elementor-element.elementor-element-609f9701 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){
  margin-bottom:0px;
}
.elementor-294 .elementor-element.elementor-element-609f9701 > .elementor-element-populated{
  padding:10px 0px 10px 50px;
}
.elementor-294 .elementor-element.elementor-element-1af133dd .elementor-heading-title{
  color:#9BA0B8;
  font-family:"Heebo", Sans-serif;
  font-size:16px;
  font-weight:500;
  text-transform:uppercase;
  letter-spacing:0.5px;
}
.elementor-294 .elementor-element.elementor-element-1af133dd > .elementor-widget-container{
  margin:0px 0px 9px 0px;
}
.elementor-294 .elementor-element.elementor-element-4f19f715 .elementor-heading-title{
  color:#FFFFFF;
  font-family:"Heebo", Sans-serif;
  font-size:30px;
  font-weight:300;
  letter-spacing:0px;
}
.elementor-294 .elementor-element.elementor-element-4f19f715 > .elementor-widget-container{
  margin:0px 0px 0px 0px;
}
@media(max-width:1024px){
  .elementor-294 .elementor-element.elementor-element-2a0a8d01{
      padding:150px 0px 0px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-1936c348{
      padding:132px 40px 87px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-1d97e132{
      padding:0px 0px 100px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-a87d1a4.elementor-column > .elementor-widget-wrap{
      justify-content:center;
  }
  .elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-element-populated{
      padding:40px 40px 40px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-7b508a7b{
      --container-widget-width:60vw;
      --container-widget-flex-grow:0;
      width:var( --container-widget-width, 60vw );
      max-width:60vw;
  }
  .elementor-294 .elementor-element.elementor-element-7b508a7b > .elementor-widget-container{
      --e-transform-translateX:0px;
  }
  .elementor-294 .elementor-element.elementor-element-7b4e7f30 > .elementor-element-populated{
      padding:70px 40px 0px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-23d9a1d3{
      padding:0px 40px 140px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-1bf65469 > .elementor-element-populated{
      padding:0px 0px 70px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-410d75d5{
      padding:134px 40px 130px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-5d14949e{
      padding:134px 40px 120px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-41efd063{
      padding:134px 40px 100px 40px;
  }
  .elementor-294 .elementor-element.elementor-element-3a529e28 > .elementor-element-populated{
      padding:0px 0px 40px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-22322191 > .elementor-element-populated{
      padding:0px 0px 40px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-609f9701 > .elementor-element-populated{
      padding:0px 0px 0px 0px;
  }
}
@media(max-width:767px){
  .elementor-294 .elementor-element.elementor-element-2a0a8d01{
      padding:90px 0px 0px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-1936c348{
      padding:82px 0px 37px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-a87d1a4 > .elementor-element-populated{
      padding:20px 20px 20px 20px;
  }
  .elementor-294 .elementor-element.elementor-element-7b4e7f30 > .elementor-element-populated{
      padding:70px 20px 0px 20px;
  }
  .elementor-294 .elementor-element.elementor-element-23d9a1d3{
      padding:0px 20px 90px 20px;
  }
  .elementor-294 .elementor-element.elementor-element-53976339 > .elementor-element-populated{
      padding:0px 0px 0px 0px;
  }
  .elementor-294 .elementor-element.elementor-element-410d75d5{
      padding:84px 10px 80px 10px;
  }
  .elementor-294 .elementor-element.elementor-element-5d14949e{
      padding:84px 10px 70px 10px;
  }
  .elementor-294 .elementor-element.elementor-element-1b037eb8{
      padding:84px 10px 90px 10px;
  }
  .elementor-294 .elementor-element.elementor-element-41efd063{
      padding:84px 10px 50px 10px;
  }
  .elementor-294 .elementor-element.elementor-element-c478277 .fn__maintitle{
    color:#fff;
    font-size: 55px;
    font-weight: 400;
  }
  .elementor-294 .elementor-element.elementor-element-232d67c5 .fn__maintitle{
    color:#fff;
    font-size: 55px;
    font-weight: 400;
  }
  .blog_section{
    padding: 3px 5px;
  }
  .blog_section p{
    font-size: 12px;
  }

  
}
@media(min-width:768px){
  .elementor-294 .elementor-element.elementor-element-a87d1a4{
      width:45%;
  }
  .elementor-294 .elementor-element.elementor-element-7b4e7f30{
      width:55%;
  }
  .elementor-294 .elementor-element.elementor-element-1bf65469{
      width:40%;
  }
  .elementor-294 .elementor-element.elementor-element-53976339{
      width:60%;
  }
}
@media(max-width:1024px) and (min-width:768px){
  .elementor-294 .elementor-element.elementor-element-a87d1a4{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-7b4e7f30{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-1bf65469{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-53976339{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-3a529e28{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-22322191{
      width:100%;
  }
  .elementor-294 .elementor-element.elementor-element-609f9701{
      width:100%;
  }
}
